html {
  font-size: 12pt;
}
#enter-city {
  background-color: #ddd;
  text-align: center;
  margin: 0 0 25px 0;
  padding: 50px 0;
}

#data {
  background-color: #ddd;
  padding: 25px 25px;
  margin-bottom: 25px;
}

#history {
  background-color: #ddd;
  /* height: 400px; */
  padding: 25px 25px;
  font-size: 10pt;
}

#future-data {
  background-color: #ddd;
  padding: 25px 25px;
  margin-bottom: 50px;
  font-size: 10pt;
}

.uv-span {
  background-color: #000;
  color: white;
  padding: 2px 5px;
}

.uv-span.favorable {
  background-color: green;
}

.uv-span.moderate {
  background-color: yellow;
  color: #000;
}

.uv-span.severe {
  background-color: red;
}

.section2 {
  margin-bottom: 25px;
  background-color: #ddd;
}

button {
  display: block;
  background-color: initial;
  padding: 0;
  border: 0;
  text-decoration: underline;
}
button:hover {
  color: blue;
}


#submit {
  display: block;
  margin: 25px auto 0 auto;
  border: 1px solid black;
  padding: 4px 15px;
  text-decoration: none;
}
#submit:hover {
  color: #fff;
  background-color: #000;
}



.name {
  font-weight: 600;
  margin-bottom: 5px;
}

.nameDiv {
  font-weight: 600;
  margin-bottom: 5px;
}

.future-div {
  margin-bottom: 25px;
}





h3 {
  text-align: left;
  font-size: 14pt;
  margin-bottom: 15px;
}
