html {
  font-size: 12pt;
}
h1 {
  font-size: 23pt;
  margin: 0;
  line-height: 1;
  padding: 15px;
}

h2 { font-size: 14pt; }
h3 {
  text-align: left;
  font-size: 14pt;
  margin-bottom: 15px;
}

#title {
  background-color: #333;
  color: #fff;
}
#enter-city {
  background-color: #ddd;
  text-align: left;
  margin: 0 0 25px 0;
  padding: 50px 0;
}


#data {
  background-color: #ddd;
  padding: 25px 0;
  margin-bottom: 25px;
}

#history {
  background-color: #ddd;
  font-size: 10pt;
}

#future-data {
  background-color: #ddd;
  margin-bottom: 25px;
  font-size: 10pt;
  width: 100%;
}

.uv-span {
  background-color: #000;
  color: white;
  padding: 2px 5px;
}

.uv-span.favorable {
  background-color: green;
}

.uv-span.moderate {
  background-color: yellow;
  color: #000;
}

.uv-span.severe {
  background-color: red;
}

.section2 {
  margin-bottom: 25px;
  background-color: #ddd;
}

#searchDiv {
  height: 40px;
}
#submit {
  display: inline;
  margin: 0 0 0 0;
  border: 1px solid black;
  padding: 4px 15px;
  text-decoration: none;
  height: 100%;
}
#submit:hover {
  color: #fff;
  background-color: #000;
}
#searchDiv input {
  height: 100%;
}

/* SEARCH HISTORY BUTTONS */
button {
  display: block;
  background-color: initial;
  padding: 0;
  border: 0;
  text-decoration: underline;
}
button:hover {
  color: blue;
}


.name {
  font-weight: 600;
  margin-bottom: 5px;
}

.nameDiv {
  font-weight: 600;
  margin-bottom: 5px;
}

.future-div {
  margin-bottom: 25px;
}

@media (min-width: 768px){
.future-div.col-md-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
}
