#enter-city {
  background-color: #e9ecef;
  text-align: center;
  margin: 50px 0;
  padding: 50px 0;
}

button {
  display: block;
  background-color: initial;
  padding: 0;
  border: 0;
  text-decoration: underline;
}
button:hover {
  color: blue;
}


#submit {
  display: block;
  margin: 25px auto 0 auto;
  border: 1px solid black;
  padding: 4px 15px;
  text-decoration: none;
}
#submit:hover {
  color: #fff;
  background-color: #000;
}

#data {
  background-color: #e9ecef;
  padding: 50px 25px;
  margin-bottom: 50px;
}

#future-data {
  background-color: #e9ecef;
  padding: 50px 25px;
  margin-bottom: 50px;
  font-size: 10pt;

}



.future-div {
  margin-bottom: 25px;
}

#history {
  background-color: #e9ecef;
  /* height: 400px; */
  padding: 50px 25px;
}

h3 {
  text-align: left;
  font-size: 14pt;
  margin-bottom: 25px;
}
